<!DOCTYPE html>
<html>
<head>
	<title>注册页面</title>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.css">
	<script type="text/javascript" src="ejs.min.js"></script>
	
</head>
<body ng-app="webapp">
	<h1>hello</h1>



	<!-- <script type="text/javascript" src="lib/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="lib/angular/angular.js"></script>
	<script type="text/javascript" src="lib/bootstrap/dist/js/bootstrap.js"></script>
	<script type="text/javascript" src="webapp.js"></script> --> 
	
	
	</script>


</body>
</html>